* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-image: url('../img/main-bg.png');
  background-repeat: repeat;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 300;
  min-width: 300px;
  overflow: auto;
}

section {
  padding: 2rem 0;
  height: 1200px;
  overflow: auto;
}

section:nth-child(odd) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .1)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .1), transparent);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .1), transparent);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .1), transparent);
}

section:nth-child(even) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, .1)));
  background-image: -webkit-linear-gradient(top, transparent, rgba(255, 255, 255, .1));
  background-image: -moz-linear-gradient(top, transparent, rgba(255, 255, 255, .1));
  background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, .1));
}

section p, #portfolio-container {
  text-align: justify;
  text-indent: 1rem;
  padding: 1em;

}

#contact-list {
  background-color: rgba(0, 0, 0, 0.2);
  outline: 1pt outset rgba(0, 0, 0, .3);
  color: white;
  font-size: 1.4em;
  list-style: none;
  padding: 1rem;
  margin: 2rem auto;
  width: 300px;
}

#contact-list li {
  display: inline-block;
}

#contact-list li img {
  height: 34px;
  vertical-align: bottom;
}

#contact-list li a {
  color: white;
  text-decoration: none;
}

#contact-title {
  display: none;
  font-size: 1.5rem;
  letter-spacing: -.08em;
  margin-bottom: .5rem;
  opacity: .8;

}

#title-block {
  background: url('../img/header-bg.jpeg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #E1F5FE;
  font-family: "Roboto Slab", serif;
  height: 500px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

#title-text {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding: 10px 0;
}

#logo {
  background: rgba(0, 0, 0, 0.5);
  border-top: .5rem solid rgba(112, 144, 153, .8);
  border-left: .5rem solid rgba(112, 144, 153, .8);
  border-bottom: .5rem solid rgba(112, 144, 153, .8);
  box-sizing: content-box;
  font-size: 12rem;
  font-weight: 700;
  line-height: 12rem;
  margin: 2rem auto;
  letter-spacing: -.22em;
  width: 15rem;
}

#page-title {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 1em;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

#page-title small {
  display: block;
  font-weight: 100;
  opacity: .8;
}

.section-title {
  color: #eee;
  border-bottom: 1px solid rgba(112, 144, 153, .2);
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  font-size: 2em;
  margin: 1rem 1rem 1rem 0;
  text-align: right;
}

@media (min-width: 600px) {
  #content {
    width: 75%;
    margin: 0 auto;
  }

  #contact-title {
    display: block;
  }

  #page-title {
    font-size: 2rem;
  }

  #logo {
    font-size: 18rem;
    line-height: 18rem;
    letter-spacing: -.25em;
    width: 18rem;
  }
<<<<<<< HEAD

  #title-block {
    height: 600px;
  }
}
=======
}
>>>>>>> 38562d9016a5f69ddd8c5d727174a6269f69e869
